        body {
            margin: 0;
            font-family: 'Segoe UI', sans-serif;
            min-height: 100vh;
            background: url("images/background.jpg") no-repeat center center fixed;
            background-size: cover;
            color: #ffffff;
        }

        header {
            text-align: center;
            padding: 80px 20px;
        }

        header h1 {
            font-size: 3em;
            margin-bottom: 10px;
            color: #7236fd;
        }

        header p {
            font-size: 1.2em;
            color: #2600ff;
        }

        .container {
            max-width: 900px;
            margin: auto;
            padding: 20px;
        }

        .card {
            background: rgba(20, 15, 40, 0.61);
            backdrop-filter: blur(10px);
            border-radius: 16px;
            padding: 30px;
            margin-bottom: 30px;
            box-shadow: 0 15px 35px rgba(0,0,0,0.5);
            opacity: 0;
            transform: translateY(30px);
            transition: all 1.5s ease;
        }

        .card.visible {
            opacity: 1;
            transform: translateY(0);
        }

        h2 {
            color: #b5baff;
            margin-bottom: 15px;
        }

        footer {
            text-align: center;
            padding: 20px;
            font-size: 0.9em;
            color: #aaa;
        }

        /* Liens / Logos */
        .links {
            display: flex;
            justify-content: center;
            gap: 60px;
            margin-top: 10px;
        }

        .links img {
            width: 60px;
            height: 60px;
            transition: transform 0.3s ease, filter 0.3s ease;
        }

        .links img:hover {
            transform: scale(1.15);
            filter: brightness(1.3);
        }